<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.proathome.CORS.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>FotoPerfil</servlet-name>
        <servlet-class>com.proathome.servlets.FotoPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FotoPerfil</servlet-name>
        <url-pattern>/FotoPerfil</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FotoPerfilProfesional</servlet-name>
        <servlet-class>com.proathome.servlets.FotoPerfilProfesional</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FotoPerfilProfesional</servlet-name>
        <url-pattern>/FotoPerfilProfesional</url-pattern>
    </servlet-mapping>
</web-app>
